[
    {
        "environment": [],
        "essential": true,
        "image": "${DockerImage}",
        "name": "api",
        "portMappings": [
            {
                "containerPort": ${Port}
            }
        ]
    }
]
